<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="header">
                <div style="height: 10px;"></div>
                <h5> Acount Register </h5> 
            </div>
            <div class="card-body">
                <div style="height: 10px;"></div>
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="name">
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="@email" value="email">
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="password">
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="c_password" placeholder="Confirm Password" value="c_password">
                    </div>
                    <div style="height: 10px;"></div>
                    <button class="btn btn-primary btn-block" type="submit">
                        SingUp
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>