<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid esse natus expedita dolor id aspernatur
            deleniti exercitationem reprehenderit omnis nemo. Ullam doloribus quas ipsam aliquid, possimus, nobis neque
            inventore quo ab asperiores voluptatem iste sunt nemo dignissimos corporis. Quia, perferendis.</p>
    </div>
</div>