<div class="jumbotron mt-4
">
    <h1 class="display-4">Notes App</h1>
    <p class="lead"> something to write here </p>
    <hr class="my-4">
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima dolor similique possimus ratione provident,
        obcaecati ea, ab qui quos porro illo. Ipsum reiciendis dolor quos ad vitae perferendis eum assumenda.</p>
    <a href="" class="btn btn-primary btn-lg">Esteban Martinez </a>
</div>